{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'RederrikStocksBundle:Form:sematic_ui_form_fields.html.twig' %}
{% if form.vars.valid %} {% set form_class = 'ui form' %} {% else  %} {% set form_class = 'ui form error' %} {% endif %}

    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'),
    'attr': {'class': form_class}}) }}
    {{ form_widget(form) }}
    <div>
        <input class="ui fluid large teal submit button" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
